.textbook-page {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #fa7b7b;
}

.textbook-navigation-container,
.textbook-exercise-container,
.textbook-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.textbook-chapter-button,
.textbook-exercise-container > button,
.textbook-word-buttons > button,
.textbook-pagination-container > button {
  border: 0.5em solid transparent;
  border-radius: 2em;
  margin: 0.5em;
  cursor: pointer;
  transition: 0.3s;
}

.textbook-chapter-button:hover,
.textbook-exercise-container > button:hover,
.textbook-word-buttons > button:hover,
.textbook-pagination-container > button:hover {
  transform: translateY(-3px);
}

.textbook-chapter-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 0 10%;
}

@media (max-width: 900px) {
  .textbook-chapter-container {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
  }
}

.textbook-word-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.5em;
  background-color: ivory;
}

.textbook-tricky-word {
  background-color: #c07ef9;
}

.textbook-learned-word {
  background-color: gold;
}

.textbook-word-description {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

.textbook-word-buttons > button {
  display: block;
}

.textbook-word-image {
  border-radius: 0.5em;
}

.page-number {
  border-radius: 1em;
  padding: 0.5em;
  align-self: center;
}
