.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightcoral;
}

.description {
  background-color: lightpink;
  margin-top: 10px;
}

.about-team {
  background-color: lightblue;
  margin-top: 10px;
}

.about-member {
  background-color: lightsalmon;
  height: 50px;
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  margin-top: auto;
  height: 35px;
}

.footer .rss-logo {
  height: 100%;
}
