.difficultySelectionPlate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    min-height: 300px;
    margin: 10% auto;
    padding: 20px;
    background-color: #f2eee0;
    color: #334456;
    border-radius: 5px;
    box-shadow: 0 0 10px #999999;
}
.difficultySelectionPlate p {
    font-size: 30px;
    text-align: center;
}
h2 {
    font-size: 30px;
    color: #334456;
}
.difficult-inputs {
    display: flex;
    gap: 7px;
    margin-top: 10px;
}
.difficult-inputs input {
    display: none;
}
.label-diff {
    display: flex;
    color: #fff;
    font-size: 20px;
    background-color: #027ea1;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px #666;
    transition: all 0.2s ease 0s;
}
.difficult-inputs label:hover {
    background-color: #de8668;
}
.label-active {
    display: inline-flex;
    color: #fff;
    background-color: #de8668;
    border-radius: 4px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    transform: scale3d(1.1, 1.1, 1.1);
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 4px #333;
}
.difficultButton {
    margin-top: 20px;
}
.button-start {
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 900;
    color: #de8668;
    border-radius: 5px;
    transition: all 0.2s ease 0s;
}
.button-start:hover {
    cursor: pointer;
    transform: scale3d(1.1, 1.1, 1.1);
}