.audio-call-game {
  display: none;
  width: 600px;
  min-height: 300px;
  margin: 10% auto;
	justify-content: center;
	align-items: center;
	position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px #333;
  border-radius: 5px;
  font-family: 'Comfortaa', cursive;
}

.audio-call-game::after {
  content: 'Audio call';
  font-size: 100px;
  font-weight: 900;
  position: fixed;
  bottom: 50px;
  left: 80px;
  color: #0d705f42;
}

.close-button {
  position: absolute;
  border: none;
  width: 20px;
  height: 20px;
  top: 10px;
	right: 10px;
	font-size: 20px;
  background: url(../../assets/img/cancel.png);
  background-size: 20px 20px;
}

.close-button:hover {
  cursor: pointer;
}

.iteration-container {
	display: flex;
  justify-content: center;
  flex-direction: column;
}

.word-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 30px;
}

.no-displayed {
  display: none;
}

.word-variables-container {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.result-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
  background-color: #ffffff;
  color: #334456;
  border-radius: 5px;
  box-shadow: 0 0 10px #666;
  overflow: auto;
}

.result-true-container,
.result-false-container {
  background-color: #ffffff00;
  box-shadow: none;
}

.result-true-container h2 {
  border-bottom: 2px solid #027ea1;
}

.result-false-container h2 {
  border-bottom: 2px solid #de8668;
}

.word-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.word-variables {
  border: 0;
  background: #ffffff00;
  color: #fff;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0px 15px 0px 15px;
}

.true-answer {
	color: green;
}

.false-answer {
	color: red;
}


.word-variables-container button:hover {
  cursor: pointer;
}

.word-variables-container button:last-of-type {
  border-right: none;
}

.word-text {
  position: absolute;
  top: 240px;
  font-size: 32px;
}

.word-button {
  border: 0;
  background: #ffffff00;
  color: #fff;
  font-size: 28px;
  font-family: 'Comfortaa', cursive;
  margin: 40px 0px 40px 0px;
}

.chapter-container {
	display: flex;
  height: 300px;
  padding-top: 40px;
	flex-direction: column;
	align-items: center;
}

.chapter-title {
  margin: 50px 0px 25px 0px;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
}

.chapter-button {
  color: #fff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin: 5px 1px;
  border: none;
  border-radius: 3px;
  font-family: 'Comfortaa', cursive;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 3px #333;
  transition: all 0.2s ease 0s;
}

.chapter-button:hover {
  background-color: #de8668;
}

.chapter-button:focus {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: all 0.2s ease 0s;
  box-shadow: 0 0 4px #333;
  background-color: #de8668;
}

.word-variables:focus {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: all 0.2s ease 0s;
}

.word-button:active {
  transform: scale3d(0.9, 0.9, 0.9);
  transition: all 0.2s ease 0s;
}

.word-result-button img {
  width: 20px;
}

.word-result-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  flex: 0;
}

.false-container > div,
.true-container > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  border-bottom: solid 1px #666;
}

.result-title {
  align-items: center;
}

button:hover {
  cursor: pointer;
}

.word-result-text {
  flex: 1;
}

.audio-call-title {
  font-size: 33px;
  color: #fff;
}
