@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
.sprint-game {
  display: none;
  font-family: 'Caveat', cursive;
}
.game-wrapper {
  display: none;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 500px;
  margin:8% auto;
  align-items: center; 
  background-color: rgba(255, 255, 255, 0.1);
  color: #334456;
  border-radius: 5px;
  box-shadow: 0 0 10px #333;
  padding: 20px;
}
.game-header {
  position: relative;
  display: flex;
  width: 100%;
}
.points {
  width: 200px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.points-text {
  font-size: 40px;
  padding-right: 5px;
}
.pointsCounter {
  display: flex;
  max-width: 100px;
  text-align: center;
  font-size: 40px;
}
.multiplier {
  width: 200px;
  text-align: center;
  font-size: 30px;
  color: rgb(85, 83, 80);
}
.correctness {
  display: flex;
  justify-content: space-between;
  width: 87px;
  margin: 0 auto;
}
.factor {
  width: 20px;
  height: 20px;
  text-align: center;
  align-items: center;
  font-size: 12px;
  font-weight: 900;
  color: #999999;
  border: 2px solid #334456;
  border-radius: 100%;
}
.active {
  background-color: #027ea1;
  color: #fff;
}
.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  height: 200px;

}
.word-ask {
  font-size: 55px;
  text-align: center;
  border-bottom: 1px solid #334456;
}
.word-translate {
  font-size: 40px;
  text-align: center;
  box-shadow: 0 1px 0 0 #334456;
}
.answer-buttons {
  margin: 10% auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.sprint-game .button {
  width: 45%;
  color: #f2eee0;
  padding: 8px;
  border: none;
  border-radius: 3px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 7px #333;
  transition: all 0.2s ease 0s;
}
.sprint-game .button:hover {
  color: #fff;
  font-weight: 600;
}
.sprint-game .button:active {
  transform: scale3d(0.97, 0.97, 0.97);
  box-shadow: 0 0 3px #333;
}
.button-right {
  background: #027ea1;
}
.button-wrong {
  background: #de8668;
}

.plus-points {
  position: absolute;
  top: 150%;
  left: 45%;
  font-size: 50px;
  color: green;
  opacity: 0;
  animation: up 1s linear 1 normal running;
}

.minus-points {
  position: absolute;
  top: 150%;
  left: 45%;
  font-size: 50px;
  color: red;
  opacity: 0;
  animation: up 1s linear 1 normal running;
}

@keyframes up {
  0%{
  top: 150%;
  opacity: 1;
  }
  100%{
  top: 0%;
  opacity: 0;
  }
  }



/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f2eee0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(45deg, #de8668, #027ea1);
  box-shadow: inset 0 0 3px #333;
} */